@import "tailwindcss";

@theme {
  --color-primary: #5323e6;
  --color-surface-tint: #5e35f1;
  --color-on-tertiary-fixed: #341100;
  --color-on-primary-container: #f1ebff;
  --color-secondary-fixed: #e5deff;
  --color-on-background: #191c1f;
  --color-surface-dim: #d8dadf;
  --color-outline: #797588;
  --color-background: #f8f9fe;
  --color-on-primary-fixed-variant: #4500d8;
  --color-surface-container-highest: #e1e2e7;
  --color-on-primary-fixed: #1b0063;
  --color-on-error-container: #93000a;
  --color-surface: #f8f9fe;
  --color-on-secondary-container: #fffbff;
  --color-surface-container-high: #e7e8ed;
  --color-on-tertiary-container: #ffeae1;
  --color-secondary: #5c44ca;
  --color-on-surface: #191c1f;
  --color-error-container: #ffdad6;
  --color-inverse-primary: #c9beff;
  --color-on-secondary: #ffffff;
  --color-primary-fixed: #e6deff;
  --color-on-surface-variant: #484556;
  --color-surface-container: #edeef3;
  --color-tertiary-container: #b34d00;
  --color-secondary-container: #755fe5;
  --color-surface-variant: #e1e2e7;
  --color-on-secondary-fixed-variant: #462ab4;
  --color-on-secondary-fixed: #1a0063;
  --color-inverse-surface: #2e3134;
  --color-outline-variant: #c9c3d9;
  --color-on-primary: #ffffff;
  --color-on-error: #ffffff;
  --color-tertiary-fixed-dim: #ffb691;
  --color-tertiary-fixed: #ffdbcb;
  --color-surface-container-lowest: #ffffff;
  --color-surface-bright: #f8f9fe;
  --color-secondary-fixed-dim: #c9bfff;
  --color-on-tertiary: #ffffff;
  --color-surface-container-low: #f2f3f8;
  --color-tertiary: #8d3b00;
  --color-primary-container: #6c47ff;
  --color-primary-fixed-dim: #c9beff;
  --color-inverse-on-surface: #eff0f5;
  --color-on-tertiary-fixed-variant: #783100;
  --color-error: #ba1a1a;

  --font-headline: 'Inter', sans-serif;
  --font-display: 'Inter', sans-serif;
  --font-body: 'Inter', sans-serif;
  --font-label: 'Inter', sans-serif;
}

@layer base {
  :root {
    color-scheme: dark;
  }

  body {
    background-color: #0A0A0F; /* Deep dark background default */
    color: #ffffff;
    font-family: var(--font-body);
    min-height: max(884px, 100dvh);
    -webkit-font-smoothing: antialiased;
  }
}

@layer utilities {
  .card-bg {
    background-color: #0F1022;
  }
}
